.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
ios/
linux/
macos/
windows/
web/
securewave_app.iml
fonts/
assets/
.metadata
analysis_options.yaml
backend/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~




# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp